* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root {
    display: flex;
    flex-direction: column;
}

.App {
    width: 800px;
}

.navbar {
    height: 50px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.navlinks {
    display: flex;
    margin-left: auto;
}

.logo {
    align-self: center;
}

.body {
    margin-top: 30px;
    align-self: center;
}