.Card {
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 10px 0 10px;
}

.Footer {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-items: center;
}

.Title {
    width: min-content;
    margin-left: 10px;
    font-size: 14px;
    color: #555;
}