.headingBar {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 30px;
}

.headingItem {
    display: flex;
    justify-content: normal;
}

.headingItem h1 {
    font-size: 24px;
    font-weight: normal;
}

.headingTab {
    padding: 0 20px;
    font-size: 16px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
}

.headingTabActive {
    color: mediumseagreen;
    cursor: default;
}