.fileInput {
    display: flex;
    align-items: center;
}

.fileInputSelected {
    padding: 5px 0;
}

.fileInputAction {
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    text-align: right;
}

.fileInputEdit {
    cursor: pointer;
    color: mediumseagreen;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.fileInputDelete {
    cursor: pointer;
    color: red;
    font-size: 14px;
    font-weight: bold;
}